<%-include('partials/header')%>
<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-md-8">
           <h1 class="mt-5">About Us</h1>
           <p class="lead">This app was developed during ACC Software Development Bootcamp as a capstone project. 
            Our team felt strongly that a private resource for postpartum women was necessary in our world. We wanted to 
            create a safe space where women can have retrieve personalized resources for postpartum support, all 
            confidential and free.</p>
        </div>
    </div>
</div>






<%-include('partials/footer')%>