<%-include('partials/header')%>
<div class="container-fluid px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-md-8">
           <h1 class="mt-5">About Us</h1>
           <p class="lead">This app was developed during ACC Software Development Bootcamp as a capstone project. 
            Our team felt strongly that a private resource for postpartum women was necessary in our world. We wanted to 
            create a safe space where women can have retrieve personalized resources for postpartum support, all 
            confidential and free.</p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <img class="about-img" src="" alt="pic">
        </div>
        <div class="col-md-4">
            <h1>Group Member 1</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque rem consectetur non, quaerat corrupti tempora. Tenetur laboriosam possimus debitis doloribus voluptate sunt aperiam quod quam, sequi commodi natus corporis?</p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <h1>Group Member 2</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque rem consectetur non, quaerat corrupti tempora. Tenetur laboriosam possimus debitis doloribus voluptate sunt aperiam quod quam, sequi commodi natus corporis?</p>
        </div>
        <div class="col-md-4">
            <img class="about-img" src="" alt="pic">
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <img class="about-img" src="" alt="pic">
        </div>
        <div class="col-md-4">
            <h1>Group Member 3</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque rem consectetur non, quaerat corrupti tempora. Tenetur laboriosam possimus debitis doloribus voluptate sunt aperiam quod quam, sequi commodi natus corporis?</p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <h1>Group Member 4</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque rem consectetur non, quaerat corrupti tempora. Tenetur laboriosam possimus debitis doloribus voluptate sunt aperiam quod quam, sequi commodi natus corporis?</p>
        </div>
        <div class="col-md-4">
            <img class="about-img" src="" alt="pic">
        </div>
    </div> 
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <img class="about-img" src="" alt="pic">
        </div>
        <div class="col-md-4">
            <h1>Group Member 5</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque rem consectetur non, quaerat corrupti tempora. Tenetur laboriosam possimus debitis doloribus voluptate sunt aperiam quod quam, sequi commodi natus corporis?</p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <h1>Group Member 6</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque rem consectetur non, quaerat corrupti tempora. Tenetur laboriosam possimus debitis doloribus voluptate sunt aperiam quod quam, sequi commodi natus corporis?</p>
        </div>
        <div class="col-md-4">
            <img class="about-img" src="" alt="pic">
        </div>
    </div> 
</div>

<%-include('partials/footer')%>