<%-include('partials/header')%>
<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-md-8">
           <h1 class="mt-5">About Us</h1>
           <p class="lead">This app was developed during ACC Software Development Bootcamp as a capstone project. 
            Our team felt strongly that a private resource for postpartum women was necessary in our world. We wanted to 
            create a safe space where women can have retrieve personalized resources for postpartum support, all 
            confidential and free.</p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <img class="about-img rounded border border-secondary" src="../assets/Image from iOS.jpg" width="300px" height="300px" alt="pic">
        </div>
        <div class="col-md-4">
            <h1>Parvati Mani</h1>
            <p class="lead">I had a career as a classical concert pianist and teacher. I started coding during a high risk pregnancy on bedrest and enjoyed it so much I joined ACCs bootcamp. When I was struggling postpartum I did not know where to go for resources. A private app like this for me to go to for resources in one place seemed like it would be useful to others. I wanted to use my experience to help others. I have loved working on this project with my fantastic team.  For more on my postpartum story, <a href="https://open.spotify.com/episode/448MzzFCuQscMHGhLt7h6p?si=SX95VUHYQJCFMCcWgtcIcQ">click here.</a></p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <h1>Tara Maxwell</h1>
            <p class="lead">With a sales and marketing background, this bootcamp was my first real exposure to software development and tech. I'm proud to have worked on a project designed to help others and excited for a future in this space.</p>
        </div>
        <div class="col-md-4">
            <img class="about-img rounded border border-secondary" src="../assets/1619537363814-1.jpg" width="300px" height="300px" alt="pic">
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <img class="about-img rounded border border-secondary" src="../assets/Group.jpg" width="300px" height="300px" alt="pic">
        </div>
        <div class="col-md-4">
            <h1>Yewbdar Dimd</h1>
            <p class="lead">Joining ACC Software Bootcamp has been one of the best decisions I ever made. 
                As a  mom who experienced the difficulty of postpartum complications, it is a great privilege to be a part of something that could help many who are going through the same path.</p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <h1>Peter Steyer</h1>
            <p class="lead">I was born in Braunfels, Germany. Immigrated to the states when I was young and I am excited to continue my career as a Software Engineer with my dog Odin.</p>
        </div>
        <div class="col-md-4">
            <img class="about-img rounded border border-secondary" src="../assets/peter.jpeg" width="300px" height="300px" alt="pic">
        </div>
    </div> 
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <img class="about-img rounded border border-secondary" src="../assets/ACC_Photo-59 copy.jpg" width="300px" height="300px" alt="pic">
        </div>
        <div class="col-md-4">
            <h1>Oskar Golden</h1>
            <p class="lead">Texas by way of New York. I am thrilled to be part of Parvati’s project and mission of offering resources to those in need and those who want to know more.</p>
        </div>
    </div>
    <div class="row gx-4 justify-content-center mt-3">
        <div class="col-md-4">
            <h1>Brenda Cohen</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam neque rem consectetur non, quaerat corrupti tempora. Tenetur laboriosam possimus debitis doloribus voluptate sunt aperiam quod quam, sequi commodi natus corporis?</p>
        </div>
        <div class="col-md-4">
            <img class="about-img" src="" alt="pic">
        </div>
    </div> 
</div>

<%-include('partials/footer')%>