<%- include("partials/header")%>
    <div id="backgroundHome">
        <div class="text-center message">
        <h1> Welcome to Postpartum </h1>
        <a href="/login" class="btn btn-dark btn-lg my-3 myButton">Login</a>
        <a href="/signup" class="btn btn-dark btn-lg my-3 myButton">Sign Up</a>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>


