<%- include("partials/header")%>

<h1>Welcome to the Login Page</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Log In</button>
</form>

<% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <div class="container">
            <%= error %>
        </div>
    </div>
<% } %>

<%- include("partials/footer") %> 
