<%- include("partials/header")%>

<div><h1>
    Edit <%= requestedUser %> Profile:  </h1>

<form class="my-3 mx-5" id="updateForm">
    <div class="mb-3">
        <label for="location" class="form-label">City</label>
        <input type="text" class="form-control" id="location" placeholder="Enter your city" name="location">
    </div>
    <div class="ppdContainer mt-3">
        <h6>Do you feel you may be experiencing Postpartum Depression?</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ppd" id="ppdTrue" value="true">
            <label class="form-check-label" for="ppdTrue">
                yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ppd" id="ppdFalse" value="false">
            <label class="form-check-label" for="ppdFalse">
                no
            </label>
        </div>
    </div>
    <div class="ppaContainer mt-3">
        <h6>Do you feel you may be experiencing Postpartum Anxiety?</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ppa" id="ppaTrue" value='true'>
            <label class="form-check-label" for="ppaTrue">
                yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="ppa" id="ppaFalse" value=false>
            <label class="form-check-label" for="ppaFalse">
                no
            </label>
        </div>
    </div>
    <div class="pregnancyTraumaContainer mt-3">
        <h6>Did you have a high risk pregnancy?</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="highRiskPregnancy" id="highRiskPregnancyTrue" value=true>
            <label class="form-check-label" for="highRiskPregnancyTrue">
                yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="pregnancyTrauma" id="pregTraumaFalse"
                value=false>
            <label class="form-check-label" for="pregTraumaFalse">
                no
            </label>
        </div>
    </div>
    <div class="birthTraumaContainer mt-3">
        <h6>Did you experience trauma during the birth?</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="birthTrauma" id="birthTraumaTrue" value=true>
            <label class="form-check-label" for="birthTraumaTrue">
                yes
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="birthTrauma" id="birthTraumaFalse" value=false>
            <label class="form-check-label" for="birthTraumaFalse">
                no
            </label>
        </div>
    </div>
    <div class="physicalPainContainer mt-3">
        <h6>Are you currently experiencing physical pain in any of these areas?</h6>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="abdominalPain" name="abdominalPain" value=true>
            <label class="form-check-label" for="abdominalPain">Abdominal</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="pelvicPain" name="pelvicPain" value=true>
            <label class="form-check-label" for="pelvicPain">Pelvic</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="backPain" name="backPain" value=true>
            <label class="form-check-label" for="backPain">Back</label>
        </div>
    </div>
    <button type="button" class="btn btn-success my-3" id="test-button">Submit</button>
    <button type="submit" class="btn btn-success my-3" id="submitUpdate">Submit</button>
</form>

</div>


<a href="">Delete my Profile</a> 

<%- include("partials/footer.ejs") %>