<%- include("partials/header")%>

<h1>Welcome to the Resources Page</h1>
<!-- check on what we need to put on href... -->
<a href="https://www.psychologytoday.com/us/therapists">Psychology today</a> 

<%- include("partials/footer.ejs") %> 