<%- include("partials/header")%>

<div>
    <p>Search for therapists, psychiatrists, group therapy, filter by insurance, and other more specific filters here :</p>
    <!--Can be worded better, just an example-->
    <a href="https://www.psychologytoday.com/us/therapists">Psychology today</a> 
</div>

<div>
    <a href="https://www.betterhelp.com/advice/depression/postpartum-depression-statistics-knowing-the-numbers/">Knowing the Numbers</a> 
</div>

    <div>
        <a href="https://www.psychologytoday.com/us/therapists">Psychology today</a> 
    </div>

<div>
    <p>Self-directed Cognitive Behavioral therapy is most appropriate for people with mild to moderate symptoms of depression or anxiety. 
        Please read the following article before choosing a self-help program. </p> 
    <a href="https://www.nami.org/Blogs/NAMI-Blog/November-2016/Discovering-New-Options-Self-Help-Cognitive-Behav">CBT at home</a> 
</div>
<br>

    <div>
        <a href="https://www.psychologytoday.com/us/blog/think-act-be/201609/therapy-without-therapist">CBT at home</a> 
        <a href="https://www.nami.org/Blogs/NAMI-Blog/November-2016/Discovering-New-Options-Self-Help-Cognitive-Behav">CBT at home</a> 
    </div>



    <div>
        <a href="https://www.psychologytoday.com/us/therapists/tx/austin ">Finding a therapist</a> 
    </div>


    <div>
        <a href="https://www.psychologytoday.com/us/groups/tx/austin/189443?sid=61d7d077c1726&ref=127">Group therapy</a> 
        <a href="https://www.psychologytoday.com/us/groups/tx/austin/16304?sid=61d7d077c1726&ref=131">Group therapy</a>
    </div>

    <div>
        <a href="https://www.psychologytoday.com/us/groups/tx/austin/174409?sid=61d7d077c1726&ref=148">Meditation guide</a> 
    </div>
</div>

<%- include("partials/footer.ejs") %> 
