<%- include("partials/header")%>

<h1>Welcome to the Resources Page</h1>

<div>
    <a href="https://www.psychologytoday.com/us/therapists">Psychology today</a> 
</div>

<div>
    <a href="https://www.betterhelp.com/advice/depression/postpartum-depression-statistics-knowing-the-numbers/">Overviews</a> 
</div>


<div>
    <a href="https://www.psychologytoday.com/us/blog/think-act-be/201609/therapy-without-therapist">CBT at home</a> 
    <a href="https://www.nami.org/Blogs/NAMI-Blog/November-2016/Discovering-New-Options-Self-Help-Cognitive-Behav">CBT at home</a> 
</div>



<div>
    <a href="https://www.psychologytoday.com/us/therapists/tx/austin ">Finding a therapist</a> 
</div>


<div>
    <a href="https://www.psychologytoday.com/us/groups/tx/austin/189443?sid=61d7d077c1726&ref=127">Group therapy</a> 
    <a href="https://www.psychologytoday.com/us/groups/tx/austin/16304?sid=61d7d077c1726&ref=131">Group therapy</a>
</div>

<div>
    <a href="https://www.psychologytoday.com/us/groups/tx/austin/174409?sid=61d7d077c1726&ref=148">Meditation guide</a> 
</div>


<%- include("partials/footer.ejs") %> 
