<%- include("partials/header")%>
<h1>Resources</h1>
<div class="resources my-3">
    <h3>Search for therapists near you. Filter by insurance and more options here:</h3>
    <!--Can be worded better, just an example-->
    <a href="https://www.psychologytoday.com/us/therapists">Psychology today</a> 
</div>

<div class="resources my-3">
    <h3>General Resources:</h3>
    <ul>
    <li><a href="https://www.betterhelp.com/advice/depression/postpartum-depression-statistics-knowing-the-numbers/">Knowing the Numbers</a> </li>
    <li><a href="https://www.supportgroupscentral.com/groups_detail.cfm?cid=17&CFID=6782980&CFTOKEN=ad1c8e6c7d0cc24c-4A17DE4C-DFF2-C2EE-05442E68F276946F">PSI Support Meetings</a> </li>
    <li><a href="https://www.cherishedmom.org/peer-support-groups/?gclid=CjwKCAiAlrSPBhBaEiwAuLSDUDQ3KGquDUeGLqL2JVSMPJ6VeiewXJjIVEXeA6dbn3u47L4G-YBvdxoCqoIQAvD_BwE">More Postpartum Support Groups</a> </li>
    <li><a href="https://www.marchofdimes.org/unspoken-stories.aspx">Unspoken Stories</a> </li>
    </ul>
</div>

<div className="resources my-3">
    <h3>Meditation and Mindfulness</h3>
    <ul>
        <li><a href="https://palousemindfulness.com/">MBSR: Mindfulness Based Stress Reduction</a></li>
        <li><a href="https://www.spiritrock.org/programs/online-offerings">Spirit Rock Online Offerings</a></li>
        <li><a href="https://www.postpartum.net/mindfulness/">Postpartum Mindfulness Techniques</a></li>
        <li><a href="https://postpartumprogress.com/why-mindfulness-matters-postpartum-depression">Why Mindfulness Should Matter to Moms</a></li>
        <li><a href="https://www.tarabrach.com/guided-meditations/">Tara Brach: Guided Meditations</a></li>
        <li><a href="https://jackkornfield.com/meditations/">Jack Kornfield: Guided Meditations</a></li>
    </ul>
</div>
<div className="resources my-3">
    <h3>NICU parents</h3>
    <ul>
        <li><a href="https://handtohold.org/nicu-family-support/nicu-family-support-groups/">Support Groups for NICU Parents</a></li>
        <li><a href="https://www.marchofdimes.org/nicufamilysupport/index.aspx?gclid=Cj0KCQiA9OiPBhCOARIsAI0y71DmX49Trlau6sKM0CZyn3xq7Yib29aFbhoKi8dGWg6gTl3VljdjKmoaAuibEALw_wcB">March of Dimes: NICU Support</a></li>
        <li><a href="https://nicuhelpinghands.org/resources/">NICU Helping Hands</a></li>
        <li><a href="https://www.nicuawareness.org/nicu-resources.html">NICU Awareness Resources</a></li>
        
        


    </ul>
</div>


<div className="resources my-3">
    <h3>Cognitive Behavioral Therapy</h3>
    <p>Self-directed Cognitive Behavioral therapy is most appropriate for people with mild to moderate symptoms of depression or anxiety. 
        Please read the following article before choosing a self-help program. <a href="https://www.psychologytoday.com/us/blog/think-act-be/201609/therapy-without-therapist">CBT at home</a></p> 
    <ul>
        <li><a href="https://www.apa.org/ptsd-guideline/patients-and-families/cognitive-behavioral">What is CBT?</a></li>
        <li><a href="https://www.nami.org/Blogs/NAMI-Blog/November-2016/Discovering-New-Options-Self-Help-Cognitive-Behav">Info about CBT</a></li>
    </ul>
</div>
        
<!-- should we include local resources? or keep it broader audience? 
    <a href="https://www.psychologytoday.com/us/therapists/tx/austin ">Finding a therapist</a> 
      <a href="https://www.psychologytoday.com/us/groups/tx/austin/189443?sid=61d7d077c1726&ref=127">Group therapy</a> 
        <a href="https://www.psychologytoday.com/us/groups/tx/austin/16304?sid=61d7d077c1726&ref=131">Group therapy</a>
        <a href="https://www.psychologytoday.com/us/groups/tx/austin/174409?sid=61d7d077c1726&ref=148">Meditation guide</a> 
    -->


<%- include("partials/footer.ejs") %> 
