<%- include("partials/header")%>

<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <h1>Resources</h1>
        </div>
    </div>
</div>
    
<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <h3 class="mt-4">General Resources</h3>
            <p class="lead">Resources including statistics, support groups near you, resources for dads, and Unspoken Stories from March of Dimes.</p>
            <ul>
                <li><a href="https://www.betterhelp.com/advice/depression/postpartum-depression-statistics-knowing-the-numbers/">Knowing the Numbers</a> </li>
                <li><a href="https://www.mhanational.org/conditions/pregnancy-and-postpartum-disorders">Mental Health America</a></li>
                <li><a href="https://www.postpartum.net/get-help/locations/">Postpartum Support International: Find Local Support</a></li>
                <li><a href="https://www.supportgroupscentral.com/groups_detail.cfm?cid=17&CFID=6782980&CFTOKEN=ad1c8e6c7d0cc24c-4A17DE4C-DFF2-C2EE-05442E68F276946F">PSI Support Meetings</a> </li>
                <li><a href="https://www.cherishedmom.org/peer-support-groups/?gclid=CjwKCAiAsNKQBhAPEiwAB-I5zaujP7xzSkUwA2CqeuHsbERmNrzRe2VgwLYsx_KCVbd9jdPVDIcAhxoC3QEQAvD_BwE">Virtual Support Groups</a> </li>
                <li><a href="https://www.cherishedmom.org/peer-support-groups/?gclid=CjwKCAiAlrSPBhBaEiwAuLSDUDQ3KGquDUeGLqL2JVSMPJ6VeiewXJjIVEXeA6dbn3u47L4G-YBvdxoCqoIQAvD_BwE">More Postpartum Support Groups</a> </li>
                <li><a href="https://www.marchofdimes.org/unspoken-stories.aspx">Unspoken Stories</a> </li>
            </ul>
        </div>
    </div>
 </div>

 <div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">   
            <h3 class="mt-4">Meditation and Mindfulness</h3>
            <ul>
                <li><a href="https://palousemindfulness.com/">MBSR: Mindfulness Based Stress Reduction</a></li>
                <li><a href="https://www.postpartum.net/mindfulness/">Postpartum Mindfulness: Composing a Moment</a></li>
                <li><a href="https://www.spiritrock.org/programs/online-offerings">Spirit Rock Online Offerings</a></li>
                <li><a href="https://www.postpartum.net/mindfulness/">Postpartum Mindfulness Techniques</a></li>
                <li><a href="https://expectful.com/articles/my-experience-with-meditation-for-postpartum-depression/">My Experience with Meditation for Postpartum Depression</a></li>
                <li><a href="https://www.mindfulharlem.com/programs/_drop-sit/">Mindful Harlem: Virtual Meditation Center</a></li>
                <li><a href="https://wakingup.com/">Waking Up: Meditation</a></li>
                <li><a href="https://postpartumprogress.com/why-mindfulness-matters-postpartum-depression">Why Mindfulness Should Matter to Moms</a></li>
                <li><a href="https://www.tarabrach.com/guided-meditations/">Tara Brach: Guided Meditations</a></li>
                <li><a href="https://jackkornfield.com/meditations/">Jack Kornfield: Guided Meditations</a></li>
                <li><a href="https://www.audiodharma.org/series/introduction">Audio Dharma</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">   
            <h3>Resources for Families</h3>
            <p class="lead"></p> 
            <ul>
              <li><a href="https://postpartum.org/services/dads/resources-dads/">Resources For Dads</a></li>
                <li><a href="https://www.postpartum.net/get-help/family/">Help for Partners and Families</a></li>
                <li><a href="https://www.pinerest.org/resource/postpartum-depression-anxiety/how-friends-and-family-can-help/">How Friends and Family Members Can Help</a></li>
                <li><a href="https://postpartumstress.com/for-families/how-can-i-help-a-loved-one/family-support/">Family Support</a></li>
                <li><a href="https://www.unthsc.edu/school-of-public-health/understanding-and-responding-to-moms-with-postpartum-depression-in-our-communities-in-our-families/">Responding to Moms with Postpartum Depression</a></li>
                <li><a href="https://www.webmd.com/depression/postpartum-depression/features/postpartum-depression">Family Impact and Support</a></li>
        </div>
    </div>
</div>

<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">   
            <h3>NICU parents</h3>
            <ul>
                <li><a href="https://handtohold.org/nicu-family-support/nicu-family-support-groups/">Support Groups for NICU Parents</a></li>
                <li><a href="https://www.marchofdimes.org/nicufamilysupport/index.aspx?gclid=Cj0KCQiA9OiPBhCOARIsAI0y71DmX49Trlau6sKM0CZyn3xq7Yib29aFbhoKi8dGWg6gTl3VljdjKmoaAuibEALw_wcB">March of Dimes: NICU Support</a></li>
                <li><a href="https://nicuhelpinghands.org/resources/">NICU Helping Hands</a></li>
                <li><a href="https://www.verywellfamily.com/nicu-parents-share-advice-for-coping-with-nicu-stay-5196690">NICU Parents Share Advice</a></li>
                <li><a href="https://www.nicuawareness.org/nicu-resources.html">NICU Awareness Resources</a></li>
                <li><a href="https://raisingchildren.net.au/newborns/premature-babies/neonatal-intensive-care/coping-with-nicu">Coping With NICU</a></li>
                <li><a href="https://www.gehealthcare.com/article/10-notes-from-nicu-nurses-to-parents-of-premature-babies?utm_medium=cpc&utm_source=google&utm_campaign=USC-PS-2021-REG-AlwaysOn&utm_term=&utm_content=12518725892&npclid=Cj0KCQiAjc2QBhDgARIsAMc3SqR5u1tG_aNB5Pqy97nzq-dqCsLmR4EZ0bNUKja4N6OKvEJkw64GKBgaAsCHEALw_wcB&gclid=Cj0KCQiAjc2QBhDgARIsAMc3SqR5u1tG_aNB5Pqy97nzq-dqCsLmR4EZ0bNUKja4N6OKvEJkw64GKBgaAsCHEALw_wcB">Notes from NICU Nurses</a></li>
                <li><a href="https://www.seleni.org/advice-support/2018/3/15/10-ways-to-help-nicu-parents">Ways to Help NICU Families</a></li>
                <li><a href="https://www.nationwidechildrens.org/family-resources-education/health-wellness-and-safety-resources/resources-for-parents-and-kids/nicu-resources">Nationwide Children's NICU Resources</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <h3>Find a Therapist Near You</h3>
            <p class="lead">Search for therapists near you. Filter by insurance and more options here:</p>
            <a href="https://www.psychologytoday.com/us/therapists">Psychology today</a> 
            <p>Or find a <a href="https://www.healthline.com/health/therapy-for-every-budget">therapist within your budget</a></p>
        </div>
    </div>
</div>

<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">   
            <p class="lead">Find out more about therapy</p>
            <ul>
                <li><a href="https://www.healthline.com/health/benefits-of-therapy">Is Therapy right for you?</a></li>
                <li><a href="https://www.medicalnewstoday.com/articles/types-of-therapy">14 different types of Therapy</a></li>
            </ul>
                <br>
                <p class="lead">Cognitive-Behavioral Therapy</p>
            <ul>
                <li><a href="https://depts.washington.edu/dbpeds/therapists_guide_to_brief_cbtmanual.pdf">A therapist's guide to brief CBT</a></li>
                <li><a href="https://www.apa.org/ptsd-guideline/patients-and-families/cognitive-behavioral">More about CBT</a></li>
                <li><a href="https://www.nami.org/Blogs/NAMI-Blog/November-2016/Discovering-New-Options-Self-Help-Cognitive-Behav">Self-Help CBT</a></li>
                <li><a href="http://info.lukincenter.com/blog/5-surprisingly-effective-cognitive-behavioral-therapy-exercises">5 CBT Exercises</a></li>
                <li><a href="https://positivepsychology.com/cbt-cognitive-behavioral-therapy-techniques-worksheets/">CBT Techniques and Worksheets</a></li>
            </ul>
            <p class="lead">Other types of therapy</p>
            <ul>
                <li><a href="https://arttherapy.org/about-art-therapy/">About Art Therapy</a></li>
                <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5679245/">Mindfulness-Based Interventions</a></li>
             </ul>
        </div>
</div>

<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">   
            <h3>Perinatal Depression</h3>
            <ul>
                <li><a href="https://www.nimh.nih.gov/health/publications/perinatal-depression">What is Perinatal Depression?</a></li>
                <li><a href="https://www.acog.org/clinical/clinical-guidance/committee-opinion/articles/2018/11/screening-for-perinatal-depression">Screening for Perinatal Depression</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container px-4 my-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <form id="yelpForm">
                <h3>Enter your location for Perinatal/Prenatal Resources Near You</h3>
                <input type="text" placeholder="location" id="locationInput">
                <button id="yelpSubmit"class="btn btn-success mx-">Submit</button>
             </form>
                <div id="perinatal">
                    <ul id="perinatalList" class="list-group list-group-flush">
                    </ul>
                </div>
        </div>
    </div>
</div>


   
 
                




<%- include("partials/footer.ejs") %> 