<%- include("partials/header")%>

  <div id="main">
    <!-- Background goes on main -->
    <div class="container" id="login-container">
      <!-- Everything related to form is inside login-container-->
      <form action="/signup" method="POST" id="signupForm">
        <h1 id="formHeading" class="text-center">Sign Up</h1>
        <!-- Username -->
        <div class="form-group col-auto">
          <label for="username" class="form-label"></label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" />
        </div>
        <!-- Password -->
        <div class="form-group col-auto">
          <label for="password" class="form-label"></label>
          <input type="password" class="form-control" id="password" placeholder="Enter a password" name="password"
            required />
        </div>
        <!-- Location -->
        <div class="form-group col-auto">
          <label for="location" class="form-label"></label>
          <input type="text" class="form-control" id="location" placeholder="Enter your city" name="location" />
        </div>

        <!-- Questions Container -->
        <div class="container questions-container">
          
          <!-- Depression -->
          <div class="form-group col-auto">
            <p class="signup-question m-0">Do you feel you may be experiencing Postpartum Depression?</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ppd" id="ppdTrue" value="true" />
              <label class="form-check-label" for="ppdTrue"> Yes </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ppd" id="ppdFalse" value="false" />
              <label class="form-check-label" for="ppdFalse"> No</label>
            </div>
          </div>

          <!-- Anxiety -->
          <div class="form-group col-auto">
            <p class="signup-question m-0">Do you feel you may be experienceing Postpatrum Anxiety?</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ppa" id="ppaTrue" value="true" />
              <label class="form-check-label" for="ppaTrue"> Yes </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ppa" id="ppaFalse" value="false" />
              <label class="form-check-label" for="ppaFalse"> No </label>
            </div>
          </div>


          <!-- High Risk -->
          <div class="form-group col-auto">
            <p class="signup-question m-0">Did you have a high risk pregnancy?</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="highRiskPregnancy" id="highRiskPregnancyTrue"
                value="true" />
              <label class="form-check-label" for="highRiskPregnancyTrue">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pregnancyTrauma" id="pregTraumaFalse" value="false" />
              <label class="form-check-label" for="pregTraumaFalse"> No </label>
            </div>
          </div>

          <!-- Birth Trauma -->
          <div class="form-group col-auto">
            <p class="signup-question m-0">Did you experience trauma during the birth?</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="birthTrauma" id="birthTraumaTrue" value="true" />
              <label class="form-check-label" for="birthTraumaTrue"> Yes </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="birthTrauma" id="birthTraumaFalse" value="false" />
              <label class="form-check-label" for="birthTraumaFalse"> No </label>
            </div>
          </div>


          <!-- Pain Areas -->
          <div class="form-group">
            <p class="signup-question m-0">Are you currently experiencing physical pain in any of these areas?</p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="abdominalPain" name="abdominalPain" value="true" />
              <label class="form-check-label" for="abdominalPain">Abdominal</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="pelvicPain" name="pelvicPain" value="true" />
              <label class="form-check-label" for="pelvicPain">Pelvic</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="backPain" name="backPain" value="true" />
              <label class="form-check-label" for="backPain">Back</label>
            </div>
          </div>
          <!-- Close Questions container -->
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-lg btn-block">Sign Up</button>
        </div>
        
        <!-- Close form -->
      </form>
    </div>
  </div>


  <%- include("partials/footer")%>