<%- include("partials/header")%>
  <div id="main">
    <div class="container" id="loginContainer">
      <form action="/signup" method="POST""
      id=" signupForm">
        <h1 id="formHeading">Sign Up</h1>
        <!-- Username -->
        <div class="form-group col-auto">
          <label for="username" class="form-label"></label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" />
        </div>
        <!-- Password -->
        <div class="form-group col-auto">
          <label for="password" class="form-label"></label>
          <input type="password" class="form-control" id="password" placeholder="Enter a password" name="password"
            required />
        </div>
        <!-- Location -->
        <div class="form-group col-auto">
          <label for="location" class="form-label"></label>
          <input type="text" class="form-control" id="location" placeholder="Enter your city" name="location" />
        </div>
        <!-- Depression -->
        <div class="form-group ppdContainer col-auto">
          <h6>Do you feel you may be experiencing Postpartum Depression?</h6>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ppd" id="ppdTrue" value="true" />
            <label class="form-check-label" for="ppdTrue"> yes </label>
          </div>
          <div class="form-group form-check col-auto">
            <input class="form-check-input" type="radio" name="ppd" id="ppdFalse" value="false" />
            <label class="form-check-label" for="ppdFalse"> no </label>
          </div>
        </div>
        <!-- Anxiety -->
        <div class="form-group ppaContainer col-auto">
          <h6>Do you feel you may be experiencing Postpartum Anxiety?</h6>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="ppa" id="ppaTrue" value="true" />
            <label class="form-check-label" for="ppaTrue"> yes </label>
          </div>
          <div class="form-group form-check">
            <input class="form-check-input" type="radio" name="ppa" id="ppaFalse" value="false" />
            <label class="form-check-label" for="ppaFalse"> no </label>
          </div>
        </div>
        <!-- High Risk -->
        <div class="form-group pregnancyTraumaContainer col-auto">
          <h6>Did you have a high risk pregnancy?</h6>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="highRiskPregnancy" id="highRiskPregnancyTrue"
              value="true" />
            <label class="form-check-label" for="highRiskPregnancyTrue">
              yes
            </label>
          </div>
          <div class="form-group form-check col-auto">
            <input class="form-check-input" type="radio" name="pregnancyTrauma" id="pregTraumaFalse" value="false" />
            <label class="form-check-label" for="pregTraumaFalse"> no </label>
          </div>
        </div>
        <!-- Birth Trauma -->
        <div class="form group birthTraumaContainer col-auto">
          <h6>Did you experience trauma during the birth?</h6>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="birthTrauma" id="birthTraumaTrue" value="true" />
            <label class="form-check-label" for="birthTraumaTrue"> yes </label>
          </div>
          <div class="form-group form-check col-auto">
            <input class="form-check-input" type="radio" name="birthTrauma" id="birthTraumaFalse" value="false" />
            <label class="form-check-label" for="birthTraumaFalse"> no </label>
          </div>
        </div>
        <!-- Pain -->
          <h6>Are you currently experiencing physical pain in any of these areas?</h6>
          <div class="form-group form-check form-check-inline col-auto">
            <input class="form-check-input" type="checkbox" id="abdominalPain" name="abdominalPain" value="true" />
            <label class="form-check-label" for="abdominalPain">Abdominal</label>
          </div>
          <div class="form-group form-check form-check-inline col-auto">
            <input class="form-check-input" type="checkbox" id="pelvicPain" name="pelvicPain" value="true" />
            <label class="form-check-label" for="pelvicPain">Pelvic</label>
          </div>
          <div class="form-group form-check form-check-inline col-auto">
            <input class="form-check-input" type="checkbox" id="backPain" name="backPain" value="true" />
            <label class="form-check-label" for="backPain">Back</label>
          </div>
        <div class="form-group col-auto">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>

      </form>
    </div>
  </div>

  <%- include("partials/footer")%>