<%- include("partials/header")%>

<section id="post-dep">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Postpartum Depression</h2>
                <p class="lead">1 in 7 women experience depression within the first six months after delivery.</p>
                There is no known single cause of postpartum depression. Postpartum depression (PPD) is a severe, intense, 
                and long-lasting form of “baby blues” that arises after the birth of a child. 
                "Baby blues" tends to resolve within two weeks after delivery. 
                <br>
                There are physical and emotional factors that may predispose one to experience depression 
                after welcoming a child. 
                <br>
                Some risk factors for postpartum depression include the age of the mother at the time of pregnancy, 
                history of depression or bipolar disorder prior or during pregnancy, birth complications from a previous pregnancy, 
                the number of children before the index pregnancy, hormonal changes due to pregnancy, 
                history of Premenstrual Dysphoric Disorder (PMDD), loneliness, lack of social support, and/or marital conflict.

                <br>
                <br>

                <p class="lead">Symptoms of postpartum depression can include but are not limited to:</p>
                <ul>
                    <li>Experiencing low mood or being restless</li>
                    <li>Being sad or overwhelmed</li>
                    <li>Feeling guilty or worthless</li>
                    <li>Easily fatigued or irritable</li>
                    <li>Crying easily and often</li>
                    <li>Withdrawing from family and friends</li>
                    <li>Feeling hopeless</li>
                    <li>Eating too much or refusing to eat</li>
                    <li>Sleeping too much or having trouble sleeping</li>
                    <li>Lack of energy or loss of interest in previously pleasurable activities</li>
                    <li>Lack of care or refusing to breastfeed the baby</li>
                    <li>Having suicidal thoughts</li>
                    <li>Having memory problems or difficulty making decisions</li>
                    <li>Neglecting the baby or holding the belief that the baby is someone else's</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="post-anx">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h3>Postpartum Anxiety</h3>
                <p class="lead">Though postpartum anxiety and postpartum depression are not the same, 
                    some estimates claim between 25-50% of people with anxiety disorders also develop postpartum depression in the 2 months following childbirth.
                    Postpartum anxiety, or excessive anxiety that develops after childbirth, is less known or researched
                    but people with postpartum anxiety experience thoughts that can be:
                </p>
                <ul>
                    <li>uncontrollable</li>
                    <li>racing</li>
                    <li>consuming</li>
                    <li>disrupting</li>
                    <li>overwhelming</li>
                    <li>recurrent</li>
                    <li>irrational (not logical or realistic)</li>
                    <li>frightening</li>
                </ul>
    
                <br>
                <p class="lead">These uncontrollable, consuming thoughts tend to center on a few major areas of worry, such as:</p>
        
                <ul>
                    <li>fears about the baby's and one's own health</li>
                    <li>fears about a parent or partner becoming ill or dying</li>
                    <li>a sense that something bad will happen</li>
                    <li>irrational obsessions or fears</li>
                    <li>blaming oneself excessively when something goes wrong or feeling excessively guilty</li>
                </ul>
            
                <br>
                <p class="lead">Postpartum anxiety can also cause physical symptoms, including:</p>
            
                <ul>
                    <li>unexplained exhaustion</li>
                    <li>trouble sleeping</li>
                    <li>trouble concentrating</li>
                    <li>increased irritability</li>
                    <li>muscle tension</li>
                    <li>feeling on-edge, restless, or wound-up</li>
                    <li>a rapid heartbeat</li>
                    <li>feeling panicky for no clear reason</li>
                </ul>
    
            </div>
        </div>
</section>


<section id="post-traum">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h3>Postpartum Post-traumatic Stress Disorder</h3>
                <p class="lead">Approximately 9% of women experience postpartum post-traumatic stress disorder (PTSD) following childbirth.
                    Symptoms of postpartum PTSD might include:</p>
                    <ul>
                        <li>Intrusive re-experiencing of a past traumatic event (which in this case may have been the childbirth itself)</li>
                        <li>Flashbacks or nightmares</li>
                        <li>Avoidance of stimuli associated with the event, including thoughts, feelings, people, places and details of the event</li>
                        <li>Persistent increased arousal (irritability, difficulty sleeping, hypervigilance, exaggerated startle response)</li>
                        <li>Anxiety and panic attacks</li>
                        <li>Feeling a sense of unreality and detachment</li>
                    </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h3>Perinatal Depression</h3>
                <p> The word “perinatal” refers to the time before and after the birth of a child. Perinatal depression includes depression that begins during pregnancy and depression that begins after the baby is born. 
                    Perinatal depression includes the same symptoms as postpartum depression, but they start during pregnancy and can end or remain after childbirth.</p>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %> 
