<%-include('partials/header')%>
<h1>User Page - After Authentication</h1>
<h2> Welcome <%=username%> </h2>
<a href="/logout">Log Out</a>

<!-- 
<iframe src="https://www.youtube.com/embed/P1tF1nIZZxo"></iframe>
<button id=<%=username%>>click me when you are finished watching</button> -->
<%-include('partials/footer')%>

