body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

#headerBg{
  background-color:#e0d6ff;
}

#backgroundHome {
  background: url("./assets/matthew-henry.jpg") center center no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  color: white;
}

#backgroundLogin {
  background: url("./assets/zoltan-tasi-unsplash.jpg") center center no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  color: white;
}


/* Signup Form */
#signup-container {

  background-image: url("./assets/zoltan-white-lotus.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.signup-form {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 100%);
  padding: 30px 30px;
  border-radius: 8%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



/* Backgrounf Profile */
#backgroundProfile {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url("./assets/gorans-eidens.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}


/* 
form{
    width:40%;
} */
.signsImages{
  max-width: 100%;
  height:auto;
}
#ppd_signs{
  background-color:#F2E6E8;
}
#ptsd_signs{
  background-color:#E3FFFC;
}


/* Update profile form */
#updateForm {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.form-check {
  display: inline-block;
}

#profileContainer{
  min-height:100%;
}



/* this creates a scrollbar, needs height and overflow set to scroll */
#perinatal{
 height:300px;
 overflow:scroll;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  #perinatal {
    scrollbar-width: auto;
    scrollbar-color: #870689 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  #perinatal::-webkit-scrollbar {
    width: 20px;
  }

  #perinatal::-webkit-scrollbar-track {
    background: bg-info bg-opacity-10;
    border:gray;
  }
  #perinatal::-webkit-scrollbar-thumb {
    background-color: #870689;
    border-radius: 36px;
    border: 3px solid #fefbfb;
    min-height: 60px;
  }

  #perinatal::-webkit-scrollbar-corner {
    background-color: bg-info bg-opacity-10 !important;
  }

.message {
  width: 30vw;
 
  margin: 0 auto;
}

#signupForm {
  width: 60vw;
}
/* 
form{
    width:40%;
} */
#ppdImage{
  height:80vh;
  width:40vw;
}
#ppaImage{
  height:80vh;
  width:40vw;
}
#ptsdImage{
  height:80vh;
  width:40vw;
}


#ppd_signs{
  background-color:#F2E6E8;
}
#ptsd_signs{
  background-color:#E3FFFC;
}

.hidden {
  display: none;
}
.resources {
  width: 60vw;
  flex-wrap: wrap;
}


/* .card{
    width:35vw;
} */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#message{
    color:green;
}


.thumb {
  max-height: 300px;
  object-fit: cover;
}

.yelpcard {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  overflow: auto;
  height: 300px;

#footer{
  min-width:100vw;

}