body, html{
    margin:0;
    padding:0;
    border:0;
    width:100%;
    height:100%;


  
}
#backgroundHome{
    background: url("./assets/matthew-henry.jpg") center center no-repeat;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    background-size:cover;
    color:white;
    
}

#backgroundLogin{
    background: url("./assets/zoltan-tasi-unsplash.jpg") center center no-repeat;
    width:100%;
    height:100%;
    display:flex;
    background-size:cover;
    color:white;
    
}

.message{
    width:30vw;
    margin:0 auto;
}

#login{
    width: 40vw;
    margin: 0 auto;
}

#signupForm{
    width:60vw;
    
}
/* 
form{
    width:40%;
} */

.hidden {
    display: none;
}
.resources{
    width:60vw;
    flex-wrap: wrap;

}

/* .card{
    width:35vw;
} */